$desktop-width: 1200px;
$tablet-width: 1024px;
$wide-mobile-width: 768px;
$mobile-width: 480px;

.newslist {
  width: $desktop-width;
  margin: -20px auto;

  .header {
    height: 80px;
    text-align: center;
    padding-top: 10px;
    @include tablet {
      height: 60px;
    }
    @include phone {
      height: 60px;
    }

    h1 {
      color: #b3504b;
      font-size: 30px;
      font-family: Philosopher;
      // margin: 0;

    }
  }

  @include laptop {
    width: $tablet-width;
  }

  @include tablet {
    width: $wide-mobile-width;
  }

  // @include phone {
  //   width: $mobile-width;
    
  // }
  @include phone {
  width: calc(100% - 40px);
  margin-left: 20px;
  }
}
